@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header section */
.section-title {
  color: rgb(58, 58, 58);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

header {
  max-width: 1200px;
  margin: 40px auto;
}

.nav-links a {
  text-decoration: none;

}

.nav-links {
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

nav>ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  max-width: 582px;
  /* height: 270px; */
  margin-top: 30px;
}

.banner-title {
  color: rgb(58, 58, 58);
  font-size: 3rem;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0px;
}

.banner-description {
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 30px;
  background: rgb(224, 44, 109);
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}

.banner-image {
  max-width: 400px;
  /* height: 475px; */
  border: 2px dashed gray;
  margin-top: 40px;
}

.banner-image img {
  width: 100%;
}

.image-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;

}

.image-content img {
  width: 100px;
  height: 50px;
}

/* main section */
.main {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
}

.popular-section-title {
  color: rgb(58, 58, 58);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: center;
  width: 300px;
  height: 50px;
  margin: 0 auto;
}

.card-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 20px;
}

.card-content {
  max-width: 329px;
  height: 410px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 10px;
}

.card-content img {
  width: 100%;
}

.card-content h4 {
  color: rgb(24, 25, 31);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.card-content h5 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.card-content p {
  color: rgb(120, 120, 133);
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 1.8%;
  text-align: left;
}

/* responsive website */
@media screen and (max-width: 576px) {

  nav>ul,
  .header-section {
    flex-direction: column;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-section-title {}

  .image-content {
    flex-wrap: wrap;
  }

  .nav-links {
    text-align: center;
  }

  .section-title {
    text-align: center;
  }

  .banner-title {
    font-size: 2rem;
  }

  .btn-primary {
    padding: 20px 60px;
  }

  .banner-section {
    flex-direction: column-reverse;
  }

  .banner-content {
    text-align: center;
  }

  .banner-image img {
    width: 100%;
    padding: 0;
  }

  .banner-image {
    border-radius: 50%;
  }

  .image-content {
    flex-wrap: wrap;
  }
}